{% extends 'base.html' %}

{% block content %}
<h1>Tasks</h1>
<form method="get" class="mb-3">
    <div class="row">
        <div class="col-md-4">
            <select name="category" class="form-select">
                <option value="">All Categories</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if selected_category == category.id %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <input type="text" name="search" class="form-control" placeholder="Search tasks" value="{{ search_query }}">
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>
<ul class="list-group">
    {% for task in tasks %}
        <li class="list-group-item">
            <a href="{% url 'tasks:detail' task.pk %}">{{ task.title }}</a> - {{ task.category.name }}
        </li>
    {% endfor %}
</ul>
{% endblock %}